.app {
  max-width: 540px;
  width: 100%;

  &__title {
    font-size: 16px;
    text-align: center;
    color: $color-grey;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 31px;
    }
  }

  &__settings {
    background-color: $color-dark-grey;
    padding: 16px;
    margin-top: 16px;

    @media (min-width: 768px) {
      padding: 24px 32px 32px 32px;
      margin-top: 24px;
    }
  }
}
