$color-white: #FFFFFF;
$color-red: #F64A4A;
$color-orange: #FB7C58;
$color-yellow: #F8CD65;
$color-neon-green: #A4FFAF;
$color-grey: #817D92;
$color-dark-grey: #24232C;
$color-very-dark-grey: #18171F;
$color-almost-white: #E6E5EA;
