.slider {
  margin-bottom: 32px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      height: 43px;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 16px;
    color: $color-almost-white;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__value {
    font-size: 24px;
    color: $color-neon-green;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  &__field {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background-color: $color-very-dark-grey;
    outline: none;
    margin: 10px 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: var(--slider-progress, 0%);
      background-color: $color-neon-green;
      border-radius: 4px;
      z-index: 1;
    }

    &::-webkit-slider-thumb {
      position: relative;
      -webkit-appearance: none;
      width: 28px;
      height: 28px;
      background-color: $color-almost-white;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid transparent;
      z-index: 2;

      &:hover {
        border-color: $color-neon-green;
        background-color: $color-very-dark-grey;
      }
    }

    &::-moz-range-thumb {
      width: 28px;
      height: 28px;
      background-color: $color-almost-white;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
